@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h1>Membership Renewal</h1>

    <form asp-action="Get">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Member Id" aria-label="Member Id" name="memberId">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>


</div>


