@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>

    <body>
    <div id="container">

        <section id="main_content">

            <label for="text">Insert your ID:</label>
            <input type="text" id="text" name="idField">

            <button id="button1" name="memberInButton">Register</button>

        </section>



    </div>
    </body>

</html>